@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased text-gray-800 bg-white;
  }
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-blue-400;
}
